body {
    background-color: black;
}

.logoImg {
    border-radius: 50%;
    width: 60px;
}

/*
Slogan Styling
*/

.sloganThings {
    margin: auto;
    width: 50%;
}

.slogan {
    color: white;
    font-family: Source Code Pro;
    font-size: 75px;
    padding-top: 5px;
}

/*discord link*/

.discord {
    background-color: mediumpurple;
}


/*pain and suffering and about us*/ 

.header {
    text-align: center;
    font-family: Source Code Pro;
}
.desc {
    text-align: center;
    font-family: Source Code Pro;
}

/*Aadi Information*/

.aboutUs {
    margin-top: 500px;
}

.aadiPatel {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin-left: 125px;
    background-color: #4B4B4B;
    display: inline-block;
}
.apImage {
    margin-top: 10px;
    margin-left: 50px;
    display: inline-block;
    border-radius: 100px;
    width: 200px;
}

/*Thrushil Information*/

.thrushilPatel {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin-left: 125px;
    background-color: #4B4B4B;
    display: inline-block;
}
.tpImage {
    margin-top: 10px;
    margin-left: 50px;
    display: inline-block;
    border-radius: 100px;
    width: 200px;
}

/*Praseeth Information*/

.praseethKrishnaprakash {
    width: 300px;
    border-radius: 10px;
    margin-left: 125px;
    background-color: #4B4B4B;
    display: inline-block;
}
.pkImage {
    margin-top: 10px;
    margin-left: 50px;
    display: inline-block;
    border-radius: 50%;
    width: 200px;
}

/*Chase Information*/

.chaseKhaHugnh {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin-left: 125px;
    background-color: #4B4B4B;
    display: inline-block;
}
.ckhImage {
    margin-top: 10px;
    margin-left: 50px;
    display: inline-block;
    border-radius: 100px;
    width: 200px;
}
