body {
    background-color: black;
}

.logoImg {
    border-radius: 50%;
    width: 60px;
}

/*
Slogan Styling
*/

.sloganThings {
    margin: auto;
    width: 50%;
}

.slogan {
    color: white;
    font-family: Source Code Pro;
    font-size: 75px;
    padding-top: 5px;
}


/*discord link*/

.discordButton {
    border: none;
    float: center;
    background-color: transparent;
    border-style:dashed;
    margin-right: 200px;
    color: white;
    width: 250px;
    height: 50px; 
    border-radius: 50px;
    font-family: Source Code Pro;
    font-size: large;
    cursor: pointer;
    transition: border-style .6s, background-color .6s, opacity .4s;
}

.discordButton:hover {
    background-color: rgba(88,101,242,255);
    border-style:none;
    opacity: .9;
}

.discordButton:active {
    opacity: .7;
} 
/*pain and suffering and about us*/ 

.header {
    text-align: center;
    font-family: Source Code Pro;
}
.desc {
    text-align: center;
    font-family: Source Code Pro;
}

.aboutUs {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 2rem;
}

.aboutUsText {
    margin-top: 600px;
    font-size: 50px;
    font-family: Source Code Pro;
    text-align: center;
    color: white;
}

/*Aditi Information*/

.aditiPatel {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin-left: 100px;
    background-color: #4B4B4B;
    display: inline-block;
}
.apImage {
    margin-top: 10px;
    margin-left: 50px;
    display: inline-block;
    border-radius: 100px;
    width: 200px;
}

/*Thrushil Information*/

.thrushilPatel {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin-left: 100px;
    background-color: #4B4B4B;
    display: inline-block;
}
.tpImage {
    margin-top: 10px;
    margin-left: 50px;
    display: inline-block;
    border-radius: 100px;
    width: 200px;
}

/*Praseeth Information*/

.praseethKrishnaprakash {
    width: 300px;
    border-radius: 10px;
    margin-left: 100px;
    background-color: #4B4B4B;
    display: inline-block;
}
.pkImage {
    margin-top: 10px;
    margin-left: 50px;
    display: inline-block;
    border-radius: 50%;
    width: 200px;
}

/*Chase Information*/

.chaseKhaHugnh {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin-left: 100px;
    background-color: #4B4B4B;
    display: inline-block;
}
.ckhImage {
    margin-top: 10px;
    margin-left: 50px;
    display: inline-block;
    border-radius: 100px;
    width: 200px;
}
