#slideshow {
	overflow: hidden;
	height: 12.5em;
	width: 12.5em;
	margin: 0 auto;
}

.slide {
	float: left;
	height: 12.5em;
	width: 12.5em;
	object-fit: contain;
}

.slideshowImg {
	height: 12.5em;
	width: 12.5em;
}

.slide-wrapper {

	width: calc(728px * 4);

	animation: slide 10s ease infinite;
}

.slide:nth-child(1) {
	background: green;
}

.slide:nth-child(2) {
	background: pink;
}

.slide:nth-child(3) {
	background: red;
}

.slide:nth-child(4) {
	background: yellow;
}

@keyframes slide {

	20% {
		margin-left: 0px;
	}

	40% {
		margin-left: calc(-12.5em * 1);
	}

	60% {
		margin-left: calc(-12.5em * 2);
	}

	80% {
		margin-left: calc(-12.5em * 3);
	}
}
